<!DOCTYPE html>
<html>  
<head>
    <link rel="stylesheet" href="main.css">  
    <div id="logo">
        <img src="Team App (2).png" alt="logo" style=" width: 170px; height:170px">
 
    </div>
    <div id="nav">
<ul>
 <li><a href="home.erb"style="color: white">Home</a></li>
 <li><a href="profile.erb"style="color: white">Profile</a></li>
      <li><a href="about.erb"style="color: white">About</a></li>
      <li><a href="signup.erb"style="color: white">SignUp</a></li>
 <li><a href="login.erb"style="color: white">LogIn</a></li>
</ul>
</div>

    </head>
<body>
   
</body>
    </html>